*{
    margin: 0;
    padding: 0;
}
.level2{
    position:absolute;
    background-color: rgb(233, 102, 157);
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 75%;
    height: 15%;
    left: 30px;
    top: 30px;
}
.complete2{
        position:absolute;
        background-color: rgb(128, 111, 118);
        border: 2px solid #5D6063;
        border-radius: 2px;
        width: 75%;
        height: 50%;
}
.complete1{
    position:absolute;
    background-color: rgb(128, 111, 118);
    border: 2px solid #5D6063;
    border-radius: 2px;
    width: 46%;
    height: 50%;
}
.score2{
    position:absolute;
    color: rgb(100, 5, 5);
    background-color: rgb(112, 233, 102);
    font-weight: bold;
    font-size: 3mm;
    padding: 20px;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width:18%;
    height:1%;
    left: 400px;
    top: 250px;
}
.score1{
    position:absolute;
    color: rgb(87, 7, 7);
    font-weight: bold;
    font-size: 3mm;
    padding: 20px;
    background-color: rgb(112, 233, 102);
    border: 2px solid #5D6063;
    border-radius: 5px;
    width:18%;
    height:1%;
    left: 700px;
    top: 350px;
}
.bg{
    position: relative;
    width:1000px;
    height:500px;
    left: 150px;
    top: 70px;
}
.img1{
    position: absolute;
    width:50px;
    height:50px;
    left: 870px;
    top: 280px;
}
.img2{
    position: absolute;
    width:120px;
    height:130px;
    left: 300px;
    top: 280px;
}
.challenge{
    position:absolute;
    color: rgb(85, 77, 77);
    font-weight: bold;
    font-size: 4mm;
    padding: 20px;
    background-color: rgb(218, 114, 100);
    border: 3px solid rgb(102, 204, 211);
    border-radius: 5px;
    width:10%;
    height:3%;
    left: 350px;
    top: 450px;
}